@import '~antd/dist/antd.css';

h1, p, div{
  text-align: center;
  font-family: [Manrope];
}

body{
  /* background-color: black; */
    /* background-color: hsl(230, 100%, 99%); */
  background: url('images/bg-pattern.svg');
}

p{
  font-size: 15px;
}

.slider{
  color: red;
}

#slider-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
} */

.App{
  margin: auto;
  margin-top: 100px;
  width: 50%;
  padding: 10px;
  background-color: #fff;
}

.main-app{
  width: 1000;
  height: 600;
  background-color: #fff;
  background: url('images/bg-pattern.svg');
}

.button-container{
  display: flex;
  font-size: 30px;
}

.discount-container{
  color:hsl(15, 100%, 70%);
  background-color:hsl(14, 92%, 95%);
  border-radius: 10px;
  padding: 0px 8px 0px 8px;
}

.sub-title{
  color: hsl(225, 20%, 60%);
}

.sub-title#price{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.money{
  font-size: 35px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 13px;
  border: 0;
  background: url('images/icon-slider.svg');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border: 0;
  width: 22px;
  height: 13px;
  background: url('images/icon-slider.svg');
  cursor: pointer;
}